<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">MatchMates</a>
    <!-- ngIf shows this if the argument is met -->
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <!-- Not visible or added to the dom, hiding our links if there is no User logged in -->
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <!-- routerLinkActive: Bootstrap class that highlights the one we click on -->
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active"
            >Errors</a
          >
          <!-- </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="logout()"
            >Logout</a
          >
        </li> -->
        </li></ng-container
      >
    </ul>

    <!-- Putting brackets and as user lets us grab the user and use it for the name -->
    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
        Welcome {{ user.username | titlecase }}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- #loginForm is the name: Works as id="ngForm" -->
    <!-- (ngSubmit) = onSubmit() -->
    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <!-- [(ngModel)] Binds the input to the form to the username -->
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <!-- Binds the password to the form -->
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-info" type="submit">Login</button>
    </form>
  </div>
</nav>
